*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-util
!docker/
!docker/server--gitlab-runner/
!docker/server--gitlab-runner/default.docker
!docker-compose/
!docker-compose/server--gitlab-runner/
!docker-compose/server--gitlab-runner/default.docker-compose
!.gitignore
!.gitmodules
!host.env
!LICENCE
!README.md
